<p><%= link_to "Back to images", '/' %></p>

<h1>Tags for <%= @repo["name"] %></h1>

<ul class="list-unstyled">
    <% @repo["tags"].each do |tag|%>
    <li>docker.ub.gu.se/<%=@repo["name"]%>:<%= tag %> <a href="#" class="btn-copy-to-clipboard" title="Copy to clipboard" data-repo="docker.ub.gu.se/<%=@repo["name"]%>:<%= tag %>">[Copy]</a></li>
    <% end -%>
</ul>