<p><%= link_to "Back to images", '/repository/index' %></p>

<%= debug @params %>

<h1>Images / Tags</h1>

<h2><%= @repo["name"] %></h2>
<ul class="list-unstyled">
    <% @repo["tags"].each do |tag|%>
    <li><%=@repo["name"]%>:<%= tag %> <a href="#" class="btn-copy-to-clipboard" data-repo="<%=@repo["name"]%>:<%= tag %>">[Copy]</a></li>
    <% end -%>
</ul>