<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <title>Docker Registry (docker.ub.gu.se)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" media="all">
  </head>

  <body>
    <div class="container">
    <header class="row">
      <div class="col-12">
        <a href="/" aria-label="Startpage for Docker Registry">
          <div class="logo en"></div>  <!-- APPLY class="en" ON BODY FOR ENGLISH LOGO -->
        </a>
        <div class="headers">
          <div class="level-1">University of Gothenburg</div>
          <div class="level-2">Docker Registry</div>
        </div>
      </div>
    </header>
  </div>

   <hr class="header-hr">

  <main class="container main">
    <div class="row">
      <div class="col-sm">
        <div class="alert-area"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
          <%= yield %>
        </div>
    </div>
  </main>
  </body>
</html>
